html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
body .container {
  display: flex;
  width: 100%; /* Asegura que ocupe todo el ancho */
  height: 100vh; /* Asegura que ocupe toda la altura */
  justify-content: center;
  margin: 0 auto;
}
::-webkit-scrollbar {   
  width: 0;
  height: 0;
}
#home {
  display: block;
}

#home,
#notificaciones,
#retweets,
#liked,
#admin,
#perfil {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (min-width: 1400px) {
  .tweet-modal-button {
    width: 211px;
    height: 49px;
  }
}
@media (max-width: 1400px) {
  .menu-text {
    display: none;
  }

  .left-menu {
    max-width: 88px;
    flex-direction: column;
    flex: 1 1 275px;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid #2f3336;
  }

  ul.menu-icons {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .dissappear2 {
    padding: 12px;
    width: 50px;
    height: 50px;
  }
  .perfil-container {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
  }
  #post {
    width: 20px;
    height: 20px;
  }
  .perfil {
    display: flex;
    flex-direction: column;
  }

  .hover-wrapper {
    display: flex;
    justify-content: center;
  }

  .tweet-modal-button {
    width: 50px;
    height: 50px;
  }

  .perfil .nicknames,
  .perfil .config,
  .tweet-model-button-text {
    display: none;
  }

  .tweet-modal-button .tweet-model-button-icon {
    display: block;
  }
}

@media (max-width: 987px) {
  .right-menu .search {
    display: none
  }

  .right-menu .trends-continer {
    display: none;
  }
}

@media (max-width: 550px) {
  .container .left-menu {
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    height: fit-content;
    border-top: 1px solid #2f3336;
    background-color: #000;
  }
  
  .left-menu ul.menu-icons {
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  .left-menu ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dissappear {
    display: none;
  }

  .icon-style {
    color: #71767b;
  }

  ul li {
    height: fit-content	;
  }

  span.profile-container {
    display: flex;
  }

  span.mobile-profile-pic {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  #logout2,
  li.mobile-icon {
    display: block;
  }
  
  .tweet-modal-button,
  .container .right-menu {
    display: none;
  }

  label.img-frame-header,
  label.img-frame {
    width: 150px;
    height: 150px;
  }
  #uploadButton {
    font-size: 15px;
  }
}

.container {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.content-section {
  width: 598px;
  display: none;
}

.left-menu {
  display: flex;
  flex: 0 1 275px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  border-right: 1px solid #2f3336;
  height: 100%; /* Asegura que el nav ocupa toda la altura de la ventana */
  padding: 0 8px;
}

ul.menu-icons {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  padding: 5px 0px;
  transition: 0.3s transform ease-in-out;
}

li:hover {
  transform: scale(1.02);
}

#admin-main-btn {
  display: none;
}

.hover-wrapper{
  display: flex;
  padding: 12px;
  border-radius: 50px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: font-weight 0.2s ease; /* Agrega la transición para font-weight */
}

.hover-wrapper:hover {
  font-weight: 700;
  background-color: #181818;
}

.perfil-container {
  margin-bottom: 15px;
  border-radius: 50px;
  transition: 0.3s transform ease-in-out;
}

.perfil-container:hover {
  background-color: #181818;
  transform: scale(1.02);
}

.perfil {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.perfil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nicknames {
  flex-grow: 1;
  margin-left: 10px;
}

.nicknames .username {
  font-weight: bold;
  color: #E7E9EA;
}

.nicknames .handle {
  color: #71767b;
}

.user-avatar {
  user-select: none;
}
.config {
  font-size: 15px;
  cursor: pointer;
}

.logo {
  display: inline-block;
  display: flex;
  padding: 12px;
  border-radius: 50px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}
.logo:hover {
  background-color: #181818;
}

.tweet-modal-button {
  display: flex;

  border-radius: 30px;
  font-size: 18px;
  border-style: none;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: -15px;
  color: #fff;
  background-color: #39a2f2;
  cursor: pointer;
}
/* Profile Container Styles */
.perfil-contenedor {
  margin: 0;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-body {
  margin: 0px 20px;
}

.upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input#img-file-header,
input#img-file {
	display: none;
}

label[for="img-file-header"],
label[for="img-file"] {
	width: calc(100% - 60px);
	color: #fff;
	border-radius: 5px;
	line-height: 50px;
	padding-left: 65px;
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 15px;
  border: 1px solid #2f3336;
  cursor: pointer;
}
label[for="img-file-header"]:before,
label[for="img-file"]:before {
	content: "🠩";
	position: absolute;
	left: 13px;
	color: #fff;
	font-size: 21px;
	top: 7px;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	border-bottom: 3px solid #fff;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	transition: var(--tran);
	background: conic-gradient(from 90deg at 0% 70%, #fff 0 25%, #fff0 0 100%),
		conic-gradient(from 90deg at 0% 70%, #fff 0 25%, #fff0 0 100%);
	background-repeat: no-repeat;
	background-size: 3px 25px, 3px 25px;
	background-position: 0% 100%, 100% 100%;
}
label[for="img-file-header"]:after,
label[for="img-file"]:after {
	content: "";
	position: absolute;
	left: 50px;
	top: 0;
	width: 0;
	height: 100%;
	border-right: 3px solid #fff;
}

label.img-frame-header,
label.img-frame {
  width: 250px;
  height: 250px;
	margin-bottom: 0;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
  background-size: cover;
  background-position: center center;
}
/* Media query para pantallas más pequeñas (menos de 600px de ancho) */
@media (max-width: 1100px) {
  label.img-frame-header,
  label.img-frame {
    width: 200px;
    height: 200px;
  }

  #uploadButton {
    font-size: 16px;
  }
}

/* Media query para pantallas medianas (menos de 400px de ancho) */
@media (max-width: 750px) {
  label.img-frame-header,
  label.img-frame {
    width: 150px;
    height: 150px;
  }
  
  #uploadButton {
    font-size: 12px;
  }
}
label.img-frame-header:before,
label.img-frame:before {
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 50px;
	line-height: 46px;
	top: 0;
	left: 0;
	border-bottom-width: 7px;
	background-size: 7px 50px, 7px 50px;
	filter: drop-shadow(-1px 1px 0px black);
	opacity: 0.5;
}
label.img-frame-header:hover:before,
label.img-frame:hover:before {
	opacity: 0.9;
}
label.img-frame-header:after,
label.img-frame:after {
	display: none;
}

.upload-btn-header,
.upload-btn {
  margin: 10px 0px;
}
/* Profile Header Styles */
.perfil-header-top {
  align-items: center;
  padding: 15px 100px;
  border-bottom: 1px solid #2f3336;
  font-family: Arial, Helvetica, sans-serif;
}

.perfil-header-top .header-top-h1 {
  font-size: 20px;
  color: #E7E9EA;
}

.perfil-header-top .header-top-p {
  font-size: 13px;
  color: #71767b;
}

#logout {
  cursor: pointer;
}

.perfil-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #2f3336;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-img-div {
  width: 100%;
  height: 273px;
  position: relative;
}

.header-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #333639;
}
.update-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.update-profile label {
  display: block;
  margin: 10px 0 5px;
}

.update-profile button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #39a2f2;
  color: #fff;
  cursor: pointer;
}

.update-profile button:hover {
  background-color: #2a85d6;
}

.update-profile p {
  color: #ff0000; /* Error color */
}

.perfil-img {
  position: absolute;
  bottom: -75px;
  left: 20px;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #000; /* Opcional: Agregar un borde para mejor visibilidad */
}

.perfil-info-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil-info {
  margin-top: 75px;
  padding: 12px 16px 0px 16px;
}

.perfil-info h1 {
  margin: 0;
  font-size: 24px;
}

.perfil-info p {
  margin: 5px 0;
  color: #666;
}

/* Profile Body Styles */
.perfil-body h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.perfil-body p {
  font-size: 16px;
  color: #444;
}

.perfil-body span {
  font-weight: bold;
}

.tweet-model-button-icon {
  display: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-size: 24px;
}

.menu-text {
  padding-left: 20px;
  font-size: 19px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  border-bottom: 1px solid #2f3336;
}

#main-page-home-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

.right-menu {
  display: flex;
  flex: 0 2 350px;
  height: 100%;
  flex-direction: column;
  border-left: 1px solid #2f3336;
}

.new-username {
  color: #000;
}

.profile-pic {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.compose-profile-container {
  display: flex;
  padding: 15px 15px 0 15px;
}
.compose-profile-container2 {
  display: flex;
  padding: 15px 31px 0 31px;
}

.compose-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

textarea {
  width: 90%;
  height: auto;
  padding: 0 0 15px 15px;
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #2f3336;

  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

#image-preview-container {
  margin: 10px 20px 0px 20px;
  border-radius: 15px;
  border: 1px solid #2f3336;
}

#image-preview {
  border-radius: 15px;
  margin: 0px;
  max-width: 100%;
}

.compose-buttons-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 88px;
  align-items: center;
}

.compose-icons {
  display: flex;
  justify-content: space-between;
}

.compose-icon {
  margin-right: 15px;
  font-size: 22px;
  cursor: pointer;
}
#verificacionForm {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.compose-button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 8px 16px;
  border-radius: 30px;
  border: none;
  background-color: #1d9bf0;
  cursor: pointer;
  transition: opacity 0.2s;
}

button[disabled=disabled], button:disabled {
  opacity: 0.5;
}
.compose-text {
  color: #fff;
  font-size: 1rem;
  padding: 12px;
  border-radius: 15px;
  background: none;
  border: none;
  overflow: auto;
  outline: none;
  margin-bottom: 15px;
  border-bottom: 1px solid #2f3336;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.compose-text:focus {
  box-shadow: 0px 20px 100px -10px rgba(57,162,242,0.5);
  border-color: #39a2f2;
}

.separator {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #2f3336;
  border-bottom: 1px solid #2f3336;
}

.tweet-profile-content-container {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 0 0 10px;
  width: 90%;
}

.tweet-profile-title-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.tweet-profile-info {
  display: flex;
}

.tweet-profile-title {
  padding-right: 3px;
  font-weight: 900;
}

.tweet-check-mark {
  padding-right: 5px;
}

i.fas.fa-check-circle {
  font-size: 15px;
  color: rgb(29, 161, 242);
}

.tweet-handle {
  color: #71767b;
  font-weight: 500;
}

.tweet-content {
  font-weight: 300;
}

.tweet-post-container {
  max-height: 600px;
  overflow-y: auto;
}

.tweet-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #2f3336;
}
.tweet-post:hover {
  background-color: #080808;
}
.main-post {
  padding: 0px 16px;
}
.img-placeholder {
  margin: 15px 15px 0 72px;
}

.tweet-photo {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  border: 1px solid #2f3336;
}

.tweet-buttons {
  display: flex;
  justify-content: space-between;
  padding: 12px 76px;
  color: #71767b;
}

.buttons-container {
  display: flex;
  width: 47px;
  justify-content: space-between;
  cursor: pointer;
}

.buttons-container:hover {
  color: #1d9bf0;
}

.rojo,
.like-btn:hover {
  color: #f91880;
}

.comment-btn {
  margin: 10px 0px;
}
.del-container {
  cursor: pointer;
}
.search {
  width: 350px;
  margin: 0.8rem 30px 0.8rem 30px;
  position: relative;
}

.search-bar-icon {
  position: absolute;
  top: 10px;
  left: 15px;
}

input.search-bar {
  width: 100%;
  height: 38px;
  border-radius: 30px;
  border-style: none;
  background-color: #202327;
  color: #fff;
  padding-left: 50px;
  box-sizing: border-box;
}

.trends-continer {
  width: 350px;
  margin: 0.8rem 30px 0.8rem 30px;
  border: 1px solid #2f3336;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  overflow-y: auto;
}

.trends-title-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.trends-title {
  font-weight: 700;
}

.trending-post {
  font-family: 'Roboto', sans-serif;
}

.trends-title-container,
.trending-info {
  padding: 12px 16px;
}
.trending-info:hover {
  background-color: #080808;
}

.trending-post-title {
  font-size: 15px;
  padding-top: 5px;
  font-weight: 700;
}

.trending-country-options-container {
  display: flex;
  justify-content: space-between;
}

.trending-country {
  font-size: 13px;
  color: rgb(101, 119, 134);
}

.trending-post-detail {
  padding-top: 5px;
  font-size: 15px;
  color: #657786;
}

.trending-post-number-tweets {
  font-size: 13px;
  color: rgb(101, 119, 134);
  padding-top: 5px;
}

.trends-show-more {
  padding: 10px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #39a2f2;
}

.mobile-profile-pic {
  display: none;
}

.mobile-icon {
  display: none;
}
.comments-section {
  border-top: 1px solid #e1e8ed;
  padding-top: 10px;
  margin-top: 10px;
}

.comment {
  margin-bottom: 10px;
  border-radius: 5px;
  border-top: 1px solid #2f3336;
}

.comment-input {
  border-top: 1px solid #2f3336;
}

.comment-username {
  font-weight: bold;
}

.comment-content {
  margin-left: 5px;
}

.comment-timestamp {
  font-size: 0.8em;
  color: gray;
}
.hidden {
  display: none;
}


/** EMOJI **/
.emoji-popup {
  position: absolute;
  bottom: 60px; /* Ajusta según sea necesario */
  right: 10px;
  width: 320px;
  border: 1px solid #71767b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  padding: 10px;
  overflow: auto;
  max-height: 300px; /* Ajusta según sea necesario */
}

.emoji-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.emoji-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#emoji-container {
  display: flex;
  flex-wrap: wrap;
}

.emoji-item {
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.2s;
}

.emoji-item:hover {
  transform: scale(1.2);
}
.retweet-style {
  padding: 12px;
}










h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.tabs {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  background-color: #2f3336;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}
.tab-button {
  flex: 1 0 calc(50% - 10px);
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  color: #657786;
  margin: 5px;
  min-width: 150px;
}
.tab-button:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: #fff;
}
.tab-button.active {
  background-color: #39a2f2;
  color: white;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
label {
  margin-bottom: 10px;
  font-weight: 600;
}

.ul2 {
  list-style-type: none;
  padding: 0;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.stat-card {
  border-radius: 15px;
  border: 1px solid #2f3336;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.stat-card h3 {
  margin-bottom: 10px;
}
.stat-card p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
  .tabs {
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
  }
  .tabs::-webkit-scrollbar {
      display: none;
  }
  .tab-button {
      flex: 0 0 auto;
  }
}